<section class="content" style="margin: 10px !important;">    
    <div class="container">
        <div class="card">
            <br>
            <h1>{{ 'KVKK Aydınlatma Metni'.tr() }}</h1>
            <p>
                <b>{{ 'Veri Sorumlusu'.tr() }}</b>
                <br><br>
                {{ 'KVKK uyarınca muhatap, üye, bağışçı, bursiyer, stajyer, tedarikçi, ziyaretçi, hibe alan, ödül alan, desteklenen, Fark Yaratan, program ortağı ve/veya vakıf çalışanı/yöneticisi sıfatıyla paylaştığınız kişisel verileriniz; veri sorumlusu olarak belirlenen Kütaha İl Özel İdaresi tarafından aşağıda belirtilen kapsamda değerlendirilecektir.'.tr() }}
            </p><br><p>
                <b>{{ 'Kişisel Verilerin İşlenme Amacı'.tr() }}</b><br><br>
                {{ 'KVKK’nın 4., 5. ve 6. maddeleri uyarınca kişisel verileriniz;'.tr() }}<br>
                {{ 'Hukuka ve dürüstlük kurallarına uygun'.tr() }}<br>
                {{ 'Doğru ve gerektiğinde güncel'.tr() }}<br>
                {{ 'Belirli, açık ve meşru amaçlar için'.tr() }}<br>
                {{ 'İşlendikleri amaçla bağlantılı, sınırlı ve ölçülü'.tr() }}<br>
                {{ 'İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme'.tr() }}<br>
                {{ 'kurallarendikleri amaçla bağlantılı, sınırlı va İl Özel İdaresi\’nin faaliyetleri ile bağlantılı olacak şekilde işlenecektir.'.tr() }}
            </p><br><p>
                <b>{{ 'Kişisel Verilerin Aktarımı'.tr() }}</b><br><br>
                {{ 'KVKK’nın 8. ve 9. maddeleri uyarınca kişisel verileriniz yukarıda sayılan amaçlar dahilinde,'.tr() }}<br>
                {{ 'Kütahya İl Özel İdaresi’nın faaliyetlerinin sürdürülebilmesi için Kişisel Veri işleme şartları ve amaçları çerçevesinde gerekli görülen üçüncü kişilere (program ortağı, işbirliği yapılan kurum, tedarikçi, bağışçı, kurum yöneticileri/çalışanları, Kütahya valiliği,  yönetimi/güvenlik birimi, hukuk kişileri ya da yurt dışı ülkeler) aktarılabilecektir.'.tr() }}
            </p><br><p>
                <b>{{ 'Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi'.tr() }}</b><br><br>
                {{ 'Kişisel verileriniz, Kütahya İl Özel İdaresi tarafından'.tr() }}<br>
                {{ 'Burs/Staj/Yurt Başvuru Formları'.tr() }}<br>
                {{ 'Kamu Bilgi Sistemi ve Kütahya İl Özel İdaresi Web Siteleri İletişim Formları'.tr() }}<br>
                {{ 'Kamu Bilgi Sistemi ve Kütahya İl Özel İdaresi Web Siteleri E-Bülten Kayıt Formları'.tr() }}<br>
                {{ 'Hibe Programı Başvuru Formları'.tr() }}<br>
                {{ 'İş Başvuru Formları'.tr() }}<br>
                {{ 'gibi kanallarla ve farklı hukuki sebeplere dayanarak Kütahya İl Özel İdaresi’nın faaliyetlerini sürdürülebilmesi için KVKK tarafından öngörülen temel ilkelere uygun olarak, KVKK’nın 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında işbu Aydınlatma Metninde belirtilen amaçlarla da toplanabilmekte, işlenebilmekte ve aktarılabilmektedir.'.tr() }}
            </p><br><p>
                <b>{{ 'Kişisel Veri Sahibinin Hakları'.tr() }}</b><br><br>
                {{ 'KVKK’nın 11. maddesi uyarınca herkes, veri sorumlusuna başvurarak kendisiyle ilgili;'.tr() }}
                {{ 'a) Kişisel verilerinin işlenip işlenmediğini öğrenme,'.tr() }}<br>
                {{ 'b) Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,'.tr() }}<br>
                {{ 'c) Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,'.tr() }}<br>
                {{ 'ç) Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,'.tr() }}<br>
                {{ 'd) Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,'.tr() }}<br>
                {{ 'e) KVKK 7. maddede öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,'.tr() }}<br>
                {{ 'f) (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,'.tr() }}<br>
                {{ 'g) İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,'.tr() }}<br>
                {{ 'ğ) Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme,'.tr() }}<br>
                {{ 'haklarına sahiptir.'.tr() }}<br><br>
                {{ 'Yukarıda belirtilen haklarınız ile ilgili Kütahya İl Özel İdaresi’na yazılı olarak başvurmanız halinde, talebinizin niteliğine göre en geç 30 (otuz) gün içerisinde ücretsiz olarak yanıt verilecektir. Başvurunuzu açık, anlaşır bir şekilde ve kimlik ve adres bilgilerini tespit edici belgeleri de ekleyerek, yazılı ve ıslak imzalı olarak elden, postayla ya da noter kanalıyla Kütahya İl Özel İdaresi Dumlupınar Bulv. No 111 Kütahya Türkiye adresine ulaştırmanız gerekmektedir. '.tr() }}
            </p>
        </div>
    </div>
</section>

<mobile-bottom-menu-element></mobile-bottom-menu-element> 